.header{
    background-color: #333;
    border-top:5px solid#e64946;
}
.logo{
    width:  200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
   
}
.header nav{
    background-color:#e64946;
}
.header nav a{
    margin-right: 80px;
    padding: 5px;
    color: white;
    font-weight: 600;
    font-size: 20px;
}
nav a:hover{
    color: #333;
}